
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(218, 233, 228);
  font-family: Roboto;
}

.header{
 font-family: Pacifico, sans-serif;
 text-align: center;

 h1{
  color: rgb(77, 76, 76);
 }

 span{
  color: red;
  font-size: 60px;
 }

 hr{
  margin-top: -40px;
  border: 1px solid grey;
 }
}
.blogChoice {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}



.title {
  text-align: center;
  width: 70%;
  margin: auto;

  .blogNumber{
    margin-top: 30px;
  }

  h1{
    font-size: 55px;
   
  }
  h3{
    margin-top: -50px;

    span{
      color: red;
    }
  }

}

.content{
  width: 80%;
  margin: auto;
  text-align: justify;
}

.mainBodyContent  h2,p{
  display: inline;
  margin-right: 20px;
}
.mainBodyContent h2{
  font-size: 40px;
}
.mainBodyContent p{
  text-align: justify;
}


